DATABASE_URL="mysql://username:password@localhost:3306/avadi-city"
DATABASE_USER="username"
DATABASE_PASSWORD="password"
DATABASE_NAME="mydb"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

# JWT
JWT_SECRET="CHANGE_ME_TO_A_RANDOM_SECRET_KEY"

# Enable or disable OTP for development environment
ENABLE_DEV_OTP="true"