# DATABASE_URL="mysql://root:@localhost:3306/avadi-city"
# DATABASE_USER="root"
# DATABASE_PASSWORD=""
# DATABASE_NAME="avadi-city"
# DATABASE_HOST="localhost"
# DATABASE_PORT=3306

# Production
DATABASE_URL="mysql://avadi-city-dev1:6E55kTUlAAq1sySMxYfj@187.127.150.233:3306/avadi-city"
DATABASE_USER="avadi-city-dev1"
DATABASE_PASSWORD="6E55kTUlAAq1sySMxYfj"
DATABASE_NAME="avadi-city"
DATABASE_HOST="187.127.150.233"
DATABASE_PORT=3306


# JWT
JWT_SECRET="jxeZcDGTeXWFZeNyTXdc0MgRaQz7yOA5IZ0UaZIVMIt"

# Cloudflare R2
CLOUDFLARE_ACCOUNT_ID=4dfee836fe6290605702a6e0f39f78db
CLOUDFLARE_R2_ACCESS_KEY_ID=92b87f6ecdb465b91ec58041e5b0da2e
CLOUDFLARE_R2_SECRET_ACCESS_KEY=e63d504699bbe51f52f09297e1dd6e9e87338a45753349c78d5e8a32a9a14c9d
CLOUDFLARE_R2_BUCKET_NAME=avadi-city
NEXT_PUBLIC_R2_PUBLIC_URL=https://pub-207a0eaf417746dd8b3ed0b5c72a2c47.r2.dev # public URL for R2 bucket


# Enable or disable OTP for development environment
ENABLE_DEV_OTP="true"